@mixin flex-style ($a-items, $j-content) {
    display: flex;
    align-items: $a-items;
    justify-content: $j-content;
    flex-wrap: wrap;
}

@mixin font-style ($f-size, $l-height, $f-weight, $color) {
    font-size: $f-size;
    line-height: $l-height;
    font-weight: $f-weight;
    color: $color;
}