@import './details/reset';
@import './details/mixins';
@import './details/common';
@import './details/animations';
//Components
@import './components/index';
body{
    background-color: #FF6FFF;
    height: 100vh;
    width: 100vw;
    font-family: 'Roboto', sans-serif;
    position: relative;
    @include flex-style (flex-start, center);
    padding-top: 30px;
    box-sizing: border-box;
    // [class$=input]
    form{
        @include flex-style (flex-start, space-between);
        width: 100rem;
        @media screen and (max-width: 70rem) {
            width: 70vw;
            margin: auto;
        }
        @media screen and (max-width: 50rem) {
            width: 95vw;
            margin: auto;
        }
        input, select{
            @media screen and (max-width: 80rem) {
                width: 100%;
                margin: auto;
                margin-bottom: 1rem;
            }
            // @media screen and (max-width: 50rem) {
            //     width: 95%;
            //     margin: auto;
            //     margin-bottom: 1rem;
            // }
            padding: 0 20px;
            width: 30%;
            border-radius: 2rem;
            height: 7rem;
            box-sizing: border-box;
            outline: none;
            background-color: #fff;
            color: #000;
            border: none;
            &::placeholder{
                color: rgba($color: rgb(141, 141, 141), $alpha: .7);
            } 
            option{
                background-color: #fff;
                color: #000;
                padding: 10px 0;
            }
        }
    }
    
    .date-container{
        max-height: 600px;
        overflow-y: scroll;
        width: 100rem;
        min-height: 100px;
        @include flex-style (flex-start, space-between);
        padding-top: 20px;
        box-sizing: border-box;
        @media screen and (max-width: 70rem) {
            width: 70vw;
        }
        @media screen and (max-width: 50rem) {
            width: 95vw;
        }
        .data-row{
            @media screen and (max-width: 80rem) {
                width: 100%;
                margin: auto;
                margin-bottom: 2rem;
            }
            @include font-style (1.6rem, 2rem, 400, #000);
            width: 45%;
            height: 10rem;
            padding: 1rem;
            // background-image: url('../images/new-year.jpg');
            background-color: #69F7FF;
            background-size: cover;
            cursor: pointer;
            margin-bottom: 2rem;
            box-sizing: border-box;
            border-radius: 1rem;
            overflow: hidden;
            @include flex-style (center, space-between);
            &:hover{
                box-shadow: 0px 10px 0px #fff;
                transition: .3s box-shadow;
            }
            &:hover .delete-btn{
                transform: translateY(0px);
                transition: .5s;
            }
            >span{
                background-color: white;
                padding: 1rem;
                text-transform: capitalize;
                border-radius: 1rem;
            }        
            .delete-btn{
                background-color: white;
                padding: 1rem 2rem;
                text-transform: capitalize;
                border-radius: 1rem;
                transform: translateY(-70px);
            }
        }
    }
}

